
<html>
<head>
  
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style> 
            *{
    margin: 0;
    padding: 0;
}
.container-fluid-b{
    background-color: #0275d8;
    padding:  0px 0px 0px 55px;
    color: white;
    font-size: large;
}  

.container-fluid-a{
    background-color: #0275d8;
    padding: 0px 0px 60px 55px;
    color: white;
    font-size: large;
}
.col-md-8{
    padding-top:80px;
}

.primary{
    padding: 6px 30px;
    border-radius: 50px;
    border-style: none;
    color: #0275d8;
}
.primary:hover{
    background-color:#3a32a8;
    color: white;
}

.col-md-4{
    padding: 40px 0px;
    
    border-style: none;
    background: none;
   

    
    
   

}
li{
    list-style: none;
    padding: 5px;
}
ul{
    padding: 20px;
}

.b1{
    
    background-color: #0275d8;
    color: white;
    border-style: none;
    border-radius: 8px;
    padding: 3px 30px;
    

}
.flex-container{
    
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    text-align: left;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    outline-style: hidden;
    background: rgb(247, 244, 244);
    border: lightgray;
    
    border-radius: 10px;
    padding: 10px 0px 10px 20px;
    margin: 0px 10px 0px 0px;
    color: gray;
    
    
   
}
.flex-container:hover{
    background: #3a32a8;
    color: orange;
}
 .pic{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    
 }
 .container-fluid-i{
    padding-top: 50px;
    
 }
 .b5{
    border-style:none;
    border: 2px solid #0275d8;
    padding: 0px 10px;
    font-size:medium;


    color: #0275d8;
    border-radius: 8px;
    
    
 }
 .b5:hover{
    background-color:#0275d8;
    color: white;
 }




.container-fluid-d{
    padding-top: 40px;
}

.b2{
       border-style: none;
       background: none;
       border-radius: 10px;
       padding: 5px 30px;
       background-color: #0275d8;
       color: white;
       font-size: large;
       font-weight: bold;
}
.b{
    text-align:  center;
}

.i{
    width: 150px;
    height: 110px;
}
.pic1{
    font-size: 45px;
    
    font-style: italic;
    
    
    
}

.container-fluid-e{
    padding-top: 120px;
}
.container-fluid-c{
   
    padding-top: 40px;
}
.p1{
    padding-top: 80px;
    padding-left: 80px;
}

.b4{
    border-style:none;
    border: 2px solid #0275d8;
    padding: 5px 15px;
    font-size: large;


    color: #0275d8;
    border-radius: 8px;
}
.b4:hover{
    background-color: #0275d8;
    color: white;

}
.container-fluid-f{
    padding-top: 50px;
}

.card-body{
    text-align: center;
}

.card-img-top{
    border-radius: 100%;

 
   
}

.container-fluid-g{
    padding-top: 50px;
    padding-left: 25px;
}




li a {
    display: block;
    color: white;
    text-align: center;
    
    text-decoration: none;
  }

  li a:hover {
    background-color: white;
    color: #0275d8;
  }

  .flex-box{
    text-align: center;
    
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;

    justify-content: center;
    align-items:center;
    overflow: hidden;
    outline-style: hidden;
    background: rgb(247, 244, 244);
    border: lightgray;
    
    border-radius: 10px;
    padding: 25px 0px 25px 0px;
    margin: 0px 10px 0px 0px;
    color: gray;
  }
  </style>
</head>
<body>
     <div class="container-fluid-b">
      
        <div class="row">
            <div class="col-md-6" >
                <b class="pic1">gofood</b>

            </div>
            <div class="col-md-1 p-3">
               <li><a href="#about"> About</a></li>
             </div>
             <div class="col-md-1 p-3">
                <li><a href="#service"> Service</a></li>
             </div>
            <div class="col-md-1 p-3">
                <li><a href="#hero"> Consult</a></li>
            </div>
            <div class="col-md-1 p-3">
                <li><a href="#pricing"> Pricing</a></li>
            </div>
            <div class="col-md-1 p-3">
                <li><a href="#training"> Training</a></li>
            </div>
            <div class="col-md-1 p-3">
                <li><a href="#contact"> Contact</a></li>
            </div>
        </div>
        
     </div>
     
        <div class="container-fluid-a ">
             <div class="row">
                <div class="col-md-8">
                    <h1>Better Solutions For<br> Your Business</h1>
                    <h4>We are team of talented designers making websites<br> with Bootstrap</h4><br>
                    <button class="primary">Get Started</button>
                </div>
                <div class="col-md-4">

                </div>
             </div>
           </div>
           <!---------logo adding-------->
           <div class="col-md-10 offset-md-1 p-5">
              <div class="row">
                <div class="col-md-2">
                    <img src="LOGO.jpeg" class="i" >
                </div>
                <div class="col-md-2">
                    <img src="" class="i" >
                </div>
                <div class="col-md-2">
                    <img src="LOGO.jpeg" class="i" >
                </div>
                <div class="col-md-2">
                    <img src="LOGO.jpeg" class="i" >
                </div>
                <div class="col-md-2">
                    <img src="LOGO.jpeg" class="i" >
                </div>
                <div class="col-md-2">
                    <img src="LOGO.jpeg" class="i" >
                </div>
              </div>
            </div>
              <!--------------------  Aboutus ----------------->

              <div class="container-fluid-e" id="about">
                <div class="row">
                    <div class="col-md-12" >
                       <h1 style="text-align: center; color:#0275d8">About us</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <div class="p1">  
                         <h5 style="color:grey;">Lorem ipsum dolor sit amet,
                             consectetur adipiscing elit,<br>
                              sed do eiusmod tempor incididunt ut 
                              labore et<br> dolore magna aliqua.</h5>
                              
                              <p style="color:grey;">Ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                              <p style="color:grey;">Duis aute irure dolor in reprehenderit in voluptate velit</p>
                              <p style="color:grey;">Duis aute irure dolor in reprehenderit in voluptate velit</p>
                              </div>
                        </div>
                        <div class="col-md-6">
                          <div class="p1">  
                         <h5 style="color:grey;">Lorem ipsum dolor sit amet,
                             consectetur adipiscing elit,<br> sed do eiusmod
                              tempor incididunt ut labore et<br> dolore magna aliqua.</h5>
                             <p style="color:grey;"> Duis aute irure dolor in reprehenderit in voluptate velit</p>
                              <p style="color:grey;">Duis aute irure dolor in reprehenderit in voluptate velit</p>
                              <button class="b4">Get More</button>
                              </div>
                        </div>
                    </div>
                </div>
              </div>
                      
              <div class="container-fluid-e" id="service" >
                <div class="row">
                    <div class="col-md-12" >
                       <h1 style="text-align: center; color:#0275d8">Service</h1>
                       <br>
                       <h6 style="text-align: center; color:gray">Magnam dolores commodi suscipit eius consequatur ex aliquid fug</h6>
                    </div>
                </div>
                <div class="container-fluid-i">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="row">
                              
                                <div class="col-md-3">
                                    <div class="flex-container">
                                        <div>
                                            <img src="LOGO.jpeg" class="pic"><br><br>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                              Molestias corrupti nobis, quas evenietd
                                            </p>
                                                <button class="b5">submit</button>

                                        </div>
                                        
                                    </div>

                                </div>
                                <div class="col-md-3"  >
                                    <div class="flex-container">
                                        <div>
                                            <img src="LOGO.jpeg" class="pic"><br><br>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                              Molestias corrupti nobis, quas evenietd
                                            </p>
                                                <button class="b5">submit</button>



                                        </div>
                                       
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="flex-container">
                                        <div>
                                            <img src="LOGO.jpeg"   class="pic"><br><br>
                                               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                                 Molestias corrupti nobis, quas evenietd
                                               </p>
                                                   <button class="b5">submit</button>


                                        </div>
                                        
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="flex-container">
                                        <div>
                                            <img src="LOGO.jpeg"  class="pic"><br><br>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                              Molestias corrupti nobis, quas evenietd
                                            </p>
                                                <button class="b5">submit</button>

                                        </div>
                                        
                                    </div>

                                </div>
                              
                            </div>
                        </div>
                    </div>
                 </div>
               </div>
               <!-- pricing part  -->
               <div class="container-fluid-e"  id="pricing" >
                <div class="row">
                    <div class="col-md-12" >
                       <h1 style="text-align: center; color:#0275d8">Pricing</h1>
                       <br>
                       <h6 style="text-align: center; color:gray">Magnam dolores commodi suscipit eius consequatur ex aliquid fug</h6>
                    </div>
                </div>
                <div class="container-fluid-i">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="row">
                              
                                <div class="col-md-4">
                                    <div class="flex-box">
                                        <div>
                                            
                                            <h3>  Free </h3><br>
                                            <h3  style="color:#0275d8"><sup>$</sup >0<sub style="color:grey">/month</sub></h3><br>
                                            <p>Lorem, ipsum dolor sit<br><br> amet consectetur adipisicing <br><br>elit
                                              Molestias corrupti<br><br> nobis, quas evenietd
                                            </p>
                                                <button class="b5">submit</button>

                                        </div>
                                        
                                    </div>

                                </div>
                                <div class="col-md-4"  >
                                    <div class="flex-box">
                                        <div>
                                            <h3> Business </h3><br>
                                            <h3  style="color:#0275d8"><sup>$</sup>19<sub style="color:gray">/month</sub></h3><br>
                                            <p>Lorem, ipsum dolor sit<br><br> amet consectetur adipisicing <br><br>elit
                                              Molestias corrupti<br><br> nobis, quas evenietd
                                            </p>
                                                <button class="b5">submit</button>



                                        </div>
                                       
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="flex-box">
                                        <div>
                                            <h3> Developer </h3><br>
                                            <h3  style="color:#0275d8"><sup>$</sup>21<sub style="color:gray">/month</sub></h3><br>
                                            <p>Lorem, ipsum dolor sit<br><br> amet consectetur adipisicing <br><br>elit
                                              Molestias corrupti<br><br> nobis, quas evenietd
                                            </p>
                                                   <button class="b5">submit</button>


                                        </div>
                                        
                                    </div>

                                </div>
                                
                              
                            </div>
                        </div>
                    </div>
                 </div>
               </div>
              
                <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4 text-primary" id="contact">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5 text-secondary">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

   

 <%= form_for @contact do |f| %>
 <div class="row">


 <div class="col-md-10 offset-md-1">

 
    <div class="row">
      <div class="col-md-6">
                   
     <div class="mb-3">
     
      <%= f.text_field  :name, { class: "form-control"}  %>
       <%= f.label :name, class: "text-secondary" %>
       </div>
       </div>
      <div class="col-md-6">
      <div class="mb-3">
      <%= f.text_field :email, { class: "form-control"}  %>
      <%= f.label :email,  class: "text-secondary"   %>
      </div>
      </div>
     
      <%= f.text_area :message, { class: "form-control", placeholder: "send me for message"}
            %>
              <%= f.label :message,   class: "text-secondary p-2" %></br>
    
     
     

      <%= f.submit 'Send Message', class: 'btn btn-primary p-2' %>
      
    </div>
  </div>
</div>
<% end %>
</section>

<footer class="page-footer font-small blue p-5">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="/"> Kishanprajapati.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>